body {
    font-family: Arial, sans-serif;
    background-image: url('images/Emu.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: black !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.grid-item {
    background-color: rgba(192, 192, 192, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.grid-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black !important;
}

.grid-item ul {
    list-style: none;
    padding: 0;
    color: black !important;
}

.grid-item ul li {
    margin: 10px 0;
}

.img_calendar {
    margin-top: 20px;
    width: 200px;
    height: auto;
}

#back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-home:hover {
    background-color: #0056b3;
}

#tool-container {
    position: absolute;
    top: 70px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

#tool,
#to-do-list {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

#tool:hover,
#to-do-list:hover {
    background-color: #0056b3;
}

.tool-options {
    display: none;
    flex-direction: column;
    background-color: #007bff;
    border-radius: 5px;
    z-index: 1;
}

.tool-options button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.tool-options button:hover {
    background-color: #0056b3;
}

#tool-container:hover .tool-options {
    display: flex;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
    background-color: white;
    border-radius: 10px;
    color: black !important;
}

#bitcoin-price {
    font-size: 18px;
    color: black !important;
}

#upcoming-event {
    font-size: 18px;
    color: black !important;
}

#today-events,
#tomorrow-events {
    text-align: center;
    font-size: 18px;
}

.fc-event-title {
    white-space: normal !important;
    word-wrap: break-word !important;
}

#todo-list-container {
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2; 
    display: none;
}

#todo-list-container h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

#new-task {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#add-task-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#add-task-button:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li:last-child {
    border-bottom: none;
}

#task-list button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

#task-list button:hover {
    background-color: #ff1a1a;
}
